<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.tic_ta_toe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".playerVPlayerOnline.PlayerVPlayeronline"/>
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".authentikasi.Register" />
        <activity android:name=".main.MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".playerVPlayer.PlayerWPlayer" />
        <activity android:name=".playerVComp.PlayerWComp" />
        <activity android:name=".authentikasi.Login" />
    </application>

</manifest>